<mat-card class="product-new-wrapper">
  <mat-card-header>
    <mat-card-title>Create new product</mat-card-title>
  </mat-card-header>
  <form novalidate
        [formGroup]="productForm" (ngSubmit)="onSubmitForm()">
    <mat-card-content class="product-new-form"
                      #tooltip="matTooltip"
                      matTooltip="{{productForm.valueChanges | async | jsonParseString}}"
                      matTooltipPosition="below">
      <mat-form-field appearance="fill">
        <mat-label>
          <label for="productTitle">Title</label>
        </mat-label>
        <input matInput type="text" id="productTitle"
               placeholder="some reference of product"
               formControlName="productTitle"/>
        <mat-error *ngIf="productForm.controls['productTitle'].hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          <label for="productInfo">Information about product</label>
        </mat-label>
        <textarea matInput id="productInfo"
                  placeholder="some reference of product"
                  formControlName="productInfo"></textarea>
        <mat-error *ngIf="productInfo.dirty && productInfo?.errors?.minlength">
          <span>Has to describe at least</span>
          <strong> {{productInfo.errors.minlength.requiredLength}} characters</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label><label for="productPrice">Price</label></mat-label>
        <input matInput type="number" id="productPrice"
               formControlName="productPrice"/>
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
        <mat-error *ngIf="productForm.dirty && productPrice.hasError('min')">
          <span>Should cost at least </span>
          <strong>$ {{productPrice.getError('min').min}}</strong>
        </mat-error>
      </mat-form-field>

      <div>
        <mat-label><label for="productFile">Attached File</label></mat-label>
        <input type="file" id="productFile"
               formControlName="productFile"/>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button color="primary" type="submit"
              [disabled]="productForm.invalid">
        Guardar producto
      </button>
    </mat-card-actions>
  </form>
</mat-card>
