<mat-toolbar color="primary">
  <mat-toolbar-row class="nav-header-website-groups">
    <nav>
      <button *ngFor="let route of navigationWebsiteRoutes"
              mat-flat-button color="primary"
              matTooltip="{{route.tooltip}}"
              [matTooltipPosition]="'below'"
              [routerLink]="[route.routeLink]">{{route.label}}</button>
    </nav>

    <nav>
      <button mat-raised-button
              matBadgePosition="before" matBadgeColor="accent"
              matBadge="{{totalProductCart | async}}"
              [routerLink]="['/cart']">Cart
      </button>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
