<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-flat-button color="primary"
            matTooltip="generic usage in templates of pipes, directives and flow control properties"
            [matTooltipPosition]="'below'"
            [routerLink]="['/basics']">basic knowledge
    </button>
    <button mat-flat-button color="primary"
            matTooltip="My awesome cats cards"
            [matTooltipPosition]="'below'"
            [routerLink]="['/item-list/products']">product list
    </button>
    <button mat-flat-button color="primary"
            matTooltip=""
            [matTooltipPosition]="'below'"
            [routerLink]="['/item-list/users']">user list
    </button>
    <button mat-flat-button color="primary"
            matTooltip=""
            [matTooltipPosition]="'below'"
            [routerLink]="['/todo-list']">todo list
    </button>
    <button mat-flat-button color="primary"
            matTooltip=""
            [matTooltipPosition]="'below'"
            [routerLink]="['/contact']">contact form
    </button>
    <button mat-flat-button color="primary"
            matTooltip=""
            [matTooltipPosition]="'below'"
            [routerLink]="['/authentication/login']">LOGIN
    </button>
  </mat-toolbar-row>
</mat-toolbar>
