<form class="register-form-wrapper"
      [formGroup]="registerForm" novalidate
      (ngSubmit)="onSubmit()">
  <mat-card class="product-new-form">
    <mat-card-header>
      <mat-card-title>Register the User</mat-card-title>
    </mat-card-header>

    <mat-card-content class="register-controls-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" required/>
        <mat-error *ngIf="registerForm.dirty && email.invalid">
          <div *ngIf="email.hasError('email')">Your email name is not valid</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"/>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="registerForm.dirty && password.invalid">
          <div *ngIf="password.hasError('minlength')">should be at least {{password.errors.minLength}} charachters</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="password.valid">
        <mat-label>confirm password</mat-label>
        <input matInput type="password"/>
        <mat-error *ngIf="registerForm.dirty && confirmPassword.invalid">
          <div *ngIf="password.hasError('sameValue')">Your password should agree</div>
        </mat-error>
      </mat-form-field>

      <hr>
      <hr>
      <span style="color: cornflowerblue">{{registerForm.valueChanges | async | json}}</span>
      <span style="color: red">{{registerForm.errors | json}}</span>
    </mat-card-content>

    <mat-card-actions>
      <div class="example-button-row">
        <button [disabled]="registerForm.invalid" mat-raised-button color="primary" type="submit">Register</button>
        <button mat-button [routerLink]="['../login']">Login</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
